@import "../mixins.scss";


.add-tran-layer{
    display: none;
    justify-content: flex-end;
    width: 100%;
    background: #0000004D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;


}
.add-tran-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 20%;
    background-color: #fff;
    @include respond(phone) {
        padding-top: 100px;
        width: 100%;
      }
    h2{
        font-size: 30px;
    }
    p{
        margin-bottom: 10px;
    }
    
}
.close-add-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E4E4E7;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    @include respond(phone) {
        width: 30px;
    height: 30px;
      }
}
.select-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label{
        font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      margin-bottom: 10px;
    }
    select{
        width: 100%;
        height: 40px;
        // font-size: 18px;
        border-radius: 7px;
        padding-right: 5px;
    }
    
}
.add-amount-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label{
        font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      margin-bottom: 10px;
    }
    input {
        width: 100%;
        height:40px ;
        padding: 10px;
  
        border-radius: 5px;
        border: 1px grey solid;
        opacity: 0px;
        outline: none;
      }
      
}
.add-tran-btn{
    width: 100%;
    padding: 10px 0px;
    border-radius: 7px;
    color: #fff;
    background-color: var(--tg-primary-purple-color);
}
.open{
    display: flex;
}