@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
  --tg-primary-purple-color: #7000F6;
  --tg-primary-light-purple-color: #F0EEFF;
  --tg-light-green:#E8FFF6;
  
}
*{
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
input{
  -webkit-appearance: none; /* WebKit browsers */
  -moz-appearance: textfield; /* Firefox */
  appearance: none;
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}
 a {
  /* font-weight: 500; */
  color: black;
  text-decoration: inherit;
}
